

body {
    background-color: #F1F1F1;
}

h1,h2,h3,h4 {
    color:#a39e00;
    
}
/* Tableau de données utilisateur */

dt {
    font-weight: bold;
}

dd {
    font-style: italic;
}

/* Menu */

#logo {
    padding-top: 1em;
    /* Début test */
    /* Fin test */
}

.main-navbar {
    /* DJavascrit tests */
    /* Fin test */
    
    padding-top: 0.5em;
    /* Début test */
    /* Fin test */
}

.pure-menu-item {
    border: 3px #C1BD27 solid;
    background-color:#ffffff;
    letter-spacing: 0.08em;
    word-spacing: 0.3em;
}

.pure-menu-item :hover { 
     background-color:  #C1BD27;
     color:white;
}

.fixNavigation {
    z-index: 9999;
    position: fixed;
    top: 0;
    right:auto;
    display:inline-block;

    /* <-- Largeur de votre site */
}



.nomenu {
    color: black;
}
.account_logo {
    border: 2px #C1BD27 solid;
    background-color:#ffffff;
    word-spacing: 0.3em;
    margin-left: 5em;
}

.account_logo:hover {
    border-width: 3px;
    border-style: solid;
    border-color: #08B9CC;
    background-color: none;
}

#account_logo {
    display: inline;
}

#notif {
    display: inline;
    font-style: italic;
    text-decoration: none;
}



section {
    border-width: 4px;
    border-style: solid;
    border-color: #F4F4F4;
    background-color: white;
    padding: 1em;
    border-radius: 15px;
    word-spacing:0.2em;
    line-height: 200%;
    font-family: Arial, Verdana, sans-serif;
}



.nobutton {
    background-color: #C1BD27;
    border: 3px #C1BD27 solid;
    border-radius: 10px;
}



.hr {
    color: #B3111D;
    background: #B3111D;
    width: 100%;
    height: 3px;
    margin-top: 1em;
    /* Début test */
    /* Fin test */
}

form ul {
    font-style: italic;
}

#message {
    font-style: italic;
}



.img_tuto {
    margin: 0 auto;
    margin-bottom: 70px;
    margin-top: 30px;
}

header {
    padding-bottom: 2em;
    /* Fin test */
}


.login_session {
    font-style: italic;
}

.data-list {
    border-width: 2px;
    border-style: ridge;
    border-color: black;
}

.key {
    text-align: justify;
    text-justify: inter-word;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 85%;
    display: block;
    height: 80%;
    width: 80%;
    border: 1px solid black;

}

a {
    color:#B3111D ;
}


#connect_with {
    float: right;
}
